<h1>Welcome to your <em>Appothecary</em>, <%= @user.username%>! ;) </h1>

<%=flash[:message]%>

<a href="/products/new">Add a New Product</a>

<ul>
  <% @products.each do |product| %>
    <li><a href="/products/<%=product.id%>"><%=product.name%></a></li>
  <%end%>

</ul>