<h2>Add a New Herb</h2>
    <form action="/herbs" method="/post">
        <p>Herb Name <input type="text" id="herb" name="herb"></p>
        <p>Herb Quantity <input type="text" id="quantity" name="quantity"></p>
        <p><input type="submit" value="Add Herb"></p>
    
    </form>