<h2>Add a New Product</h2>
    <form action="/products" method="/post">
        <p>Product Name <input type="text" id="product" name="product"></p>
        <p>Product Quantity (1 = oz or item) <input type="text" id="quantity" name="quantity"></p>
        <p><input type="submit" value="Add Product"></p>
    
    </form>