<div class="flash"> 
    <%flash[:message] && flash[:message].each do |m|%>
      <li><%=m%></li>
    <%end%> 
</div><br>

<h2>Categories</h2>
    <ol>
    <% @categories.each do |category| %>
        <li><a href="/categories/<%=category.id%>"><%=category.name%></a></li>
    <%end%>
    </ol>
