<div class="flash"> 
    <%flash[:message] && flash[:message].each do |m| %>
        <li><%=m%></li>
    <%end%>
</div>

<h2>Products</h2>
    <ol>
    <% @products.each do |product| %>
        <li><a href="/products/<%=product.id%>"><%=product.name.capitalize%></a>
    <%end%> 
    </ol>
