<h2>Products</h2>
    <ol>
    <% @products.each do |product| %>
    <%# need to figure out how to associate product w category to only select the the category that matches %>
        <li><a href="/products/<%=product.id%>"><%=product.name.capitalize%></a>
    <%end%> 
    </ol>
