<h2>Add a New Product</h2>
<div class="flash"> 
    <%flash[:message] && flash[:message].each do |m|%>
      <li><%=m%></li>
    <%end%> 
</div>
    <form action="/products" method="post">
        <p>Name <input type="text" id="product_name" name="product[name]"></p>
        <%# Product category, need to either predetermine "categories" or allow user to add and edit their own %>
        <p>Inventory (oz or item) <input type="text" id="product_inventory" name="product[inventory]"></p>
        <p>Source <input type="text" id="product_source" name="product[source]"></p>
        <p>Cost of Good (by oz or item) <input type="text" id="product_cost_of_good" name="product[cost_of_good]"></p>
        <p>Retail Price <input type="text" id="product_retail_price" name="product[retail_price]"></p>
           
        <p>Choose at least one corresponding category:</P>
        <p> If none yet exist, <a href="/categories/new"> please add a new category here </a>
            <%@categories.each do |category|%>
                <input type="checkbox" name="product[category_ids][]" id="<%=category.id%>" value="<%=category.id%>"><%=category.name.capitalize%></input><br>
            <%end%>
        </p> 
       
        <p><input type="submit" value="Add Product"></p>
    
    </form>