
<div class="container">
    <div id="image">
        <img src="https://d2j6dbq0eux0bg.cloudfront.net/images/28077133/1825683970.jpg" id="homepage" width=800px class="center"/></div>  
    <div class="centered"><h1><b>WELCOME TO<br><hr size="10" width="300" color="black">THE APPOTHECARY!<b></h1></div>
</div>


